@import url(https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap);

@font-face {
    font-family: "cwTeXQYuan";
    src: url("/fonts/cwtex/cwTeXQYuanZH-Medium.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "cwTeXQHeiZH";
    src: url("/fonts/cwtex/cwTeXQHeiZH-Bold.ttf");
    font-style: medium;
    font-weight: 500;
    font-display: swap;
}