@use './pages/home';
@use './pages/contact';
@use './layout';

@use './fonts';

@use './components/expo-hero.scss';
@use './components/works-grid.scss';

* {
    box-sizing: border-box; 
}

body {
    font-family: 'Cutive Mono', 'cwTeXQYuan', monospace;
    font-size: 1em;
    line-height: 140%;
    @media (min-width: 500px) {
        font-size: 1.1em;
    }
    background: rgb(29, 29, 29);
    color: rgb(204, 204, 204);
}

img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
}

a {
    color: white;
}