@use './pages/home';
@use './layout';

@use './fonts';

body {
    font-family: 'Cutive Mono', 'cwTeXQYuan', monospace;
    font-size: 1em;
    line-height: 140%;
    @media (min-width: 500px) {
        font-size: 1.1em;
    }
}

img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: auto;
}