@use './pages/home';
@use './pages/contact';
@use './pages/three-d-view.scss';
@use './layout';

@use './fonts';

@use './components/expo-hero.scss';
@use './components/works-grid.scss';
@use './components/three-d-view-btn.scss';

* {
    box-sizing: border-box; 
}

body {
    font-family: 'Cutive Mono', 'cwTeXQYuan', monospace;
    font-size: 1em;
    line-height: 140%;
    @media (min-width: 500px) {
        font-size: 1.1em;
    }
    background: rgb(29, 29, 29);
    color: rgb(204, 204, 204);
}

img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
}

a {
    color: white;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}