#home {    
    margin: auto;
    hr {
        margin: 0 1em;
    }
    .hero {
        background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ),url(/images/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        //background-attachment: fixed;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h1 {
            font-weight: bold;
            line-height: 1.5em;
            padding: 40vh 0 0 0;
            color: white;
            height: 100vh;
            font-size: 2em;
            font-weight: 100;
        }
        #expo-poster {
            height: 80%;
            object-fit: contain;
            padding: 1em;
        }
        @media (min-width: 500px) {
            
        }
        @media (min-width: 1000px) {
            flex-direction: row;
            height: 100vh;
            
            h1 {
                position: absolute;
                left: 15%;
                top: 40%;
                margin: 0;
                padding: 0;
            }
            #expo-poster {
                position: absolute;
                width: 10%;
                height: auto;
                bottom: 10rem;
                right: 10rem;
                padding: 0;
                object-fit:initial;
                transition: width .2s, opacity .2s;
                opacity: 80%;
                &:hover {
                    width: 30rem;
                    opacity: 100%;
                }
            }
        }
    }

    .description {
    }

    .work {
        font-size: 1em;
        p {
            font-size: .8em;
            margin: 0;
        }
        img {
            object-fit: contain;
            width: 100%;
            max-height: 90vh;
        }
        &__title{
            font-size: 1em;
        }
        @media (min-width: 600px) {
            .work__imgs--side-by-side {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                grid-gap: 1em;
            }
        }
    }
}