.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.works-grid-item {
    transition: opacity .2s;
    &:hover {
        opacity: 60%;
    }
}